@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Use Tailwind classes instead of fixed colors */
body {
  @apply bg-slate-50 text-gray-900 dark:bg-[#0f172a] dark:text-white;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}